body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}



.content {
    position: relative;
    z-index: 1; /* Coloca o conteúdo acima do vídeo */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-background {
    position: fixed; /* Fixar o vídeo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative; /* Tornar o conteúdo relativo */
    z-index: 1; /* Colocar o conteúdo acima do vídeo */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 20px;
}

.body {
            background-color: rgb(0, 0, 0);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-size: 2em;
            text-align: center;
            overflow: hidden;
        }

.moving-text {
            animation: move 5s linear infinite;
            white-space: nowrap;
        }

        @keyframes move {
            0% { transform: translateX(100%); }
            100% { transform: translateX(-100%); }
        }

.video {
            margin-top: 20px;
            width: 100%; /* Largura total do contêiner */
            max-width: 480px; /* Largura máxima do vídeo */
            height: auto; /* Mantém a proporção */
        }
